<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Branch</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
</head>
<body>
    <h3>Салбар засах</h3>
    <form method="POST">
        <div class="form-group">
            <label for="bname">Салбарын нэр</label>
            <input type="text" id="bname" name="bname" value="{{ branch.bname }}" required>
        </div>
        <button type="submit">Save</button>
    </form>
    <a href="{{ url_for('branch_list') }}">Back to Branches</a>
</body>
</html>
