<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ажилтан вэб апп</title>
        <style>
        table, td {
          border:1px solid black;
        }
        </style>
</head>
<body>
    <h4 class="text-center">Ажилтан вэб апп</h4>
    <table>
            <tbody>
                <tr>
                    <td><a href="{{ url_for('branch_list') }}" class="list-group-item list-group-item-action">Салбар</a></td>
                    <td> <a href="{{ url_for('worker_list') }}" class="list-group-item list-group-item-action">Ажилтан</a></td>

                </tr>
            </tbody>
    </table>
</body>
</html>
